.bug {
background: #76b852;
/*background: -webkit-linear-gradient(to bottom, #8DC26F, #76b852);
background: linear-gradient(to bottom, #8DC26F, #76b852);*/
}

.dark {
background: #000000;
background: -webkit-linear-gradient(to bottom, #434343, #000000);
background: linear-gradient(to bottom, #434343, #000000);

background: #434343;
/*background: -webkit-linear-gradient(to top, #414345, #232526);
background: linear-gradient(to top, #414345, #232526);*/
}

.dragon {
background: #7474BF;
/*background: -webkit-linear-gradient(to bottom, #348AC7, #7474BF);
background: linear-gradient(to bottom, #348AC7, #7474BF);*/
}

.fairy {
background: #fc67fa;
/*background: -webkit-linear-gradient(to top, #fc67fa, #f4c4f3);
background: linear-gradient(to top, #fc67fa, #f4c4f3);*/



}

.electric {
background-color: #f8b500;

/*background: -webkit-linear-gradient(to top, #f8b500, #fceabb);
background: linear-gradient(to top, #f8b500, #fceabb);*/
}

.fight {
background: #e53935;
/*background: -webkit-linear-gradient(to bottom, #e35d5b, #e53935);
background: linear-gradient(to bottom, #e35d5b, #e53935);*/
}

.fire {
background: #cb2d3e;
/*background: -webkit-linear-gradient(to bottom, #ef473a, #cb2d3e);
background: linear-gradient(to bottom, #ef473a, #cb2d3e);*/
}

.flying {
background: #4CA1AF;
/*background: -webkit-linear-gradient(to bottom, #C4E0E5, #4CA1AF);
background: linear-gradient(to bottom, #C4E0E5, #4CA1AF);*/
}

.ghost {
background: #000000;
/*background: -webkit-linear-gradient(to bottom, #53346D, #000000);
background: linear-gradient(to bottom, #53346D, #000000);*/
}

.grass {
background: #1D976C;
/*background: -webkit-linear-gradient(to bottom, #93F9B9, #1D976C);
background: linear-gradient(to bottom, #93F9B9, #1D976C);*/


}

.ground {
background: #1e130c;
/*background: -webkit-linear-gradient(to top, #9a8478, #1e130c);
background: linear-gradient(to top, #9a8478, #1e130c);*/
}

.ice {
background: #2193b0;
/*background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);
background: linear-gradient(to bottom, #6dd5ed, #2193b0);*/
}

.normal {
background: #757F9A;
background: -webkit-linear-gradient(to bottom, #D7DDE8, #757F9A);
background: linear-gradient(to bottom, #D7DDE8, #757F9A);

background: #ECE9E6;
/*background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);
background: linear-gradient(to top, #FFFFFF, #ECE9E6);*/
}
.poison {
background: #6441A5;
/*background: -webkit-linear-gradient(to bottom, #2a0845, #6441A5);
background: linear-gradient(to bottom, #2a0845, #6441A5);*/
}

.psychic {
background: #D31027;
/*background: -webkit-linear-gradient(to bottom, #EA384D, #D31027);
background: linear-gradient(to bottom, #EA384D, #D31027);*/
}

.rock {
background: #603813;
/*background: -webkit-linear-gradient(to bottom, #b29f94, #603813);
background: linear-gradient(to bottom, #b29f94, #603813);*/
}

.steel {
background: #1F1C2C;
/*background: -webkit-linear-gradient(to bottom, #928DAB, #1F1C2C);
background: linear-gradient(to bottom, #928DAB, #1F1C2C);*/
}

.water {
background: #56CCF2;
/*background: -webkit-linear-gradient(to bottom, #2F80ED, #56CCF2);
background: linear-gradient(to bottom, #2F80ED, #56CCF2);*/
}

@-webkit-keyframes bar-fill {
 0% { width: 0; }
}

@keyframes bar-fill {
 0% { width: 0; }
}

.bar ::-webkit-progress-value {
    -webkit-animation: bar-fill 2s;
    width: 0px;
}

progress[value]::-webkit-progress-value {
    background-color:rgba(255,65,54,.8);
}
